/* Custom styles that complement Bootstrap */

/* Change body background to pink */
body {
    background-color: #ffc0cb; /* This sets the background to a pink color */
    font-family: Arial, sans-serif; /* Only if you want to override Bootstrap's default font */
}

/* Add custom box-shadow to Bootstrap's container or card and set grey background */
.container, .card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa; /* Bootstrap's default grey for cards and navbar */
}

/* If you want to override Bootstrap's button color for a specific class or for all buttons */
.btn-custom {
    background-color: #55c7f2;
    color: #ffffff;
}

/* If you have a specific link style that differs from Bootstrap */
.custom-link {
    color: #55c7f2;
}

/* Additional custom styles if needed */
